* {
  /* variables */
  --width: 450px;
  /* 
   * --ship-square is also (450 / 12) but doesnt 
   * calculate cleanly when using calc() 
   */ 
  --ship-square: 37.333px;

  /* border: 1px solid yellow; */
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgb(4, 18, 41);
  color: white;
  user-select: none;
  gap: 1rem;
}
/* title and avatar CSS */
.header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: inherit;
  margin: .5rem;
}
.title-text {
  font-size: 2rem;
}
.avatar {
  border-radius: 50%;
  height: 2rem;
  border: 1px solid;
}

/* board css */
.half, .targetCont, .peg, .square {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.250);
}
.half {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;

  /* board width shared with targetCont height for 1:1 aspect ratio */
  height: var(--width);
}
.targetCont {
  width: var(--width);
  height: var(--width);
  display: flex;
  flex-flow: wrap;
  flex-shrink: 0;
}
.side {
  width: 100%;
  height: 100%;
}
.storage-container{
  display: flex;
  justify-content: space-evenly;
}
.ship-storage-left, .ship-storage-right {
  position: relative;
  width: var(--ship-square);
  height: 100%;
}

.destroyer,
.carrier,
.battleship,
.cruiser,
.submarine {
  position: absolute;
}

/* top found by using flex and using a ruler to find pixel postion */
.battleship {top: calc(27/448 * 100%)}
.cruiser {top: calc(207/448 * 100%)}
.destroyer {top: calc(346/448 * 100%)}
.carrier {top: calc(50/448 * 100%)}
.submarine {top: calc(287/448 * 100%)}


.blank {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.150);
}
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% / 12);
  width: calc(100% / 12);
}
.ship-square {
  box-sizing: border-box;
  border: 1px solid;
  height: var(--ship-square);
  width: var(--ship-square);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 255, 237, 0.233);
}
.horizontal {
  display: flex;
}

/* pegs */
.peg-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.white-cont {
  height: 75%;
}
.red-cont {
  height: 20%;
}
.white-peg-cont, .red-peg-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.white-peg {
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: -.62rem -.62rem;
  background-color: rgb(218, 218, 218);
}
.red-peg {
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: -.62rem -.68rem;
  background-color: rgb(149, 22, 22);
}
.inserted {
  width: 2rem;
  height: 2rem;
  z-index: -1;
  background-color: lightgray;
  border-radius: 50%;
  border: 1px solid black;
}